.contact-wrapper {
  width: 100%;
  height: 750px;
  padding: 40px 5%;
  position: relative;
  background: url('../../../assets/skyline-01-01.png') center/cover no-repeat;
  // background-color: #fff;
  //   opacity: 0.3;

  .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    animation: fadeDown 0.8s ease;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  .info-box {
    width: 40%;
    font-size: 25px;
    line-height: 40px;
    animation: fadeLeft 0.5s ease;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  .contact-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    animation: fadeRight 0.9s ease;

    @media (max-width: 900px) {
      width: 100%;
    }

    input,
    textarea {
      width: 100%;
      padding: 12px 18px;
      border: 2px solid #000000;
      border-radius: 30px;
      background: #ffffff5c;
      color: #000000;
      font-size: 16px;
      outline: none;
      transition: 0.3s;

      &:focus {
        box-shadow: 0 0 12px #ffffff92;
        transform: translateY(-2px);
      }
    }

    textarea {
      height: 120px;
      border-radius: 20px;
      resize: none;
    }

    .submit-btn {
      width: 140px;
      align-self: flex-start;
      cursor: pointer;
      background: linear-gradient(135deg, #ffffff, #ffffff);
      color: #000000;
      border: none;
      transition: 0.3s;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
      }
    }
  }

  //   .skyline {
  //     width: 100%;
  //     height: 200px;
  //     background: url('../../../assets/skyline.svg') center/cover no-repeat;
  //     opacity: 0.8;
  //     margin-top: 40px;
  //     animation: fadeUp 0.5s ease;
  //   }

  .hide_text {
    height: auto;
    width: auto;
    margin-top: 180px;
    margin-left: 650px;
    font-size: 50px;
    color: #ffffff;
    background-color: #000000;
    font-family: cursive;
  }
}

/* Animations */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
