.main-wrapper {
  position: relative;
  z-index: 1;
  // padding: 40px;
  color: #ffffff;
}

.custom-glass-card {
  position: sticky;
  margin-top: 50px;
  background: #ffffff16;
  backdrop-filter: blur(5px);
  border: 1px solid #fafafa60;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
}
